<script>
  var remark_config = {
    host: "https://comment.skeep.cat",
    site_id: "SKEEP_CAT",
    url: window.location.pathname,
    theme: document.documentElement.classList.contains("dark")
      ? "dark"
      : "light",
  };
  document.querySelectorAll('[id^="appearance-switcher"]').forEach((el) => {
    el.addEventListener("click", () => {
      remark_config.theme = remark_config.theme === "dark" ? "light" : "dark";
      window.REMARK42.changeTheme(remark_config.theme);
    });
  });
</script>
<script>
  !(function (e, n) {
    for (var o = 0; o < e.length; o++) {
      var r = n.createElement("script"),
        c = ".js",
        d = n.head || n.body;
      "noModule" in r ? ((r.type = "module"), (c = ".mjs")) : (r.async = !0),
        (r.defer = !0),
        (r.src = remark_config.host + "/web/" + e[o] + c),
        d.appendChild(r);
    }
  })(remark_config.components || ["embed"], document);
</script>
<div id="remark42"></div>
